@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: None;
}

.container{
  position: relative;
  width: 500px;
  left: 53%;
  top: 30.5%;
}

.login_box{
  position: relative;
  height: 300px;
  width: 500px;

  background-color: #d9d9d96e;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.background-playground{
  height: 35rem;
  width: 35rem;
  border-radius: 50%;
}

.hcard {
  width: 60px;  /* Card width */
  height: 75px; /* Card height */
  background-size: cover;
  background-position: center;
  border: 1px solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.handcard{
  width: 120px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border: 1px solid black;
  box-shadow: 3px 1px 3px 3px #222222;
  border-radius: 5px;
  
}

.disabled{
  filter: brightness(50%);
  z-index: 0;
}

.handcard1{
  margin-left: -90px;
}

.hcard-overlap{
  margin-left: -45px;
}

.hand{
  padding-left: 90px;
}

.login_input{
  font-family: "Laila", serif;
  width: 50%;
  background: transparent;
  background-color: None;
  text-align: center;
  font-size: 30px;
  border-bottom: 1px solid;
}

.login_input::placeholder {
  color: rgb(101, 101, 101);
  opacity: 1; /* Firefox */
}

/* CSS */
.button-48 {
  appearance: none;
  font-family: "Laila", serif;
  /*background-color: #FFFFFF;*/
  border-width: 0;
  background-color: #A4EBFF;
  box-sizing: border-box;
  border: 1px solid black;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  border-radius: 20px;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #6bddfd;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
  border-radius: 20px;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.option_window{
  width: 300px;
  height: 300px;
  background-color: #cacacaba;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ready_button{
  background-color: #a7811b;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
}

/* card images */

.card-WW{
  background-image: url('./assets/game/wizard.jpg');
}

.card-JJ{
  background-image: url('./assets/game/jester.jpg');
}

.card-c2{
  background-image: url('./assets/game/Playing_card_club_2.svg');
}

.card-c3{
  background-image: url('./assets/game/Playing_card_club_3.svg');
}

.card-c4{
  background-image: url('./assets/game/Playing_card_club_4.svg');
}

.card-c5{
  background-image: url('./assets/game/Playing_card_club_5.svg');
}

.card-c6{
  background-image: url('./assets/game/Playing_card_club_6.svg');
}

.card-c7{
  background-image: url('./assets/game/Playing_card_club_7.svg');
}

.card-c8{
  background-image: url('./assets/game/Playing_card_club_8.svg');
}

.card-c9{
  background-image: url('./assets/game/Playing_card_club_9.svg');
}

.card-c10{
  background-image: url('./assets/game/Playing_card_club_10.svg');
}

.card-c14{
  background-image: url('./assets/game/Playing_card_club_A.svg');
}

.card-c11{
  background-image: url('./assets/game/Playing_card_club_J.svg');
}

.card-c13{
  background-image: url('./assets/game/Playing_card_club_K.svg');
}

.card-c12{
  background-image: url('./assets/game/Playing_card_club_Q.svg');
}

.card-d2{
  background-image: url('./assets/game/Playing_card_diamond_2.svg');
}

.card-d3{
  background-image: url('./assets/game/Playing_card_diamond_3.svg');
}

.card-d4{
  background-image: url('./assets/game/Playing_card_diamond_4.svg');
}

.card-d5{
  background-image: url('./assets/game/Playing_card_diamond_5.svg');
}

.card-d6{
  background-image: url('./assets/game/Playing_card_diamond_6.svg');
}

.card-d7{
  background-image: url('./assets/game/Playing_card_diamond_7.svg');
}

.card-d8{
  background-image: url('./assets/game/Playing_card_diamond_8.svg');
}

.card-d9{
  background-image: url('./assets/game/Playing_card_diamond_9.svg');
}

.card-d10{
  background-image: url('./assets/game/Playing_card_diamond_10.svg');
}

.card-d14{
  background-image: url('./assets/game/Playing_card_diamond_A.svg');
}

.card-d11{
  background-image: url('./assets/game/Playing_card_diamond_J.svg');
}

.card-d13{
  background-image: url('./assets/game/Playing_card_diamond_K.svg');
}

.card-d12{
  background-image: url('./assets/game/Playing_card_diamond_Q.svg');
}

.card-h2{
  background-image: url('./assets/game/g1.png');
}

.card-h3{
  background-image: url('./assets/game/g2.png');
}

.card-h4{
  background-image: url('./assets/game/g3.png');
}

.card-h5{
  background-image: url('./assets/game/g4.png');
}

.card-h6{
  background-image: url('./assets/game/g5.png');
}

.card-h7{
  background-image: url('./assets/game/g6.png');
}

.card-h8{
  background-image: url('./assets/game/g7.png');
}

.card-h9{
  background-image: url('./assets/game/g8.png');
}

.card-h10{
  background-image: url('./assets/game/g9.png');
}

.card-h14{
  background-image: url('./assets/game/g13.png');
}

.card-h11{
  background-image: url('./assets/game/g10.png');
}

.card-h13{
  background-image: url('./assets/game/g12.png');
}

.card-h12{
  background-image: url('./assets/game/g11.png');
}

.card-s2{
  background-image: url('./assets/game/Playing_card_spade_2.svg');
}

.card-s3{
  background-image: url('./assets/game/Playing_card_spade_3.svg');
}

.card-s4{
  background-image: url('./assets/game/Playing_card_spade_4.svg');
}

.card-s5{
  background-image: url('./assets/game/Playing_card_spade_5.svg');
}

.card-s6{
  background-image: url('./assets/game/Playing_card_spade_6.svg');
}

.card-s7{
  background-image: url('./assets/game/Playing_card_spade_7.svg');
}

.card-s8{
  background-image: url('./assets/game/Playing_card_spade_8.svg');
}

.card-s9{
  background-image: url('./assets/game/Playing_card_spade_9.svg');
}

.card-s10{
  background-image: url('./assets/game/Playing_card_spade_10.svg');
}

.card-s14{
  background-image: url('./assets/game/Playing_card_spade_A.svg');
}

.card-s11{
  background-image: url('./assets/game/Playing_card_spade_J.svg');
}

.card-s13{
  background-image: url('./assets/game/Playing_card_spade_K.svg');
}

.card-s12{
  background-image: url('./assets/game/Playing_card_spade_Q.svg');
}

.trump_card{
  position: absolute;
  left: 0%;
}

.card-HH{
  background-image: url('./assets/game/playing-card-back.jpg');
}

.highlight_name{
  border: 4px solid rgb(0, 170, 255);
}

.guess_button{
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

.disabled_guess_button{
  background-color: gray;
}

.disabled_guess_button:hover{
  cursor: not-allowed;
}

